<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path if logged_in?(:site_admin) %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
<%# rails will automatically do an each block and print out each portfolio item %>
<%# if you put @portfolio_items( made up name) instead of @portfolios(conventional name) will get ActionView error, need to manually declare it is a partial
with <%= render partial: 'portfolio_name(which is portfolio_item), collection: @portfolio_items %>
<%# it knows to look in portfolio folder from name, %>
