<h1>Create a new Portfolio Item</h1>

<%= render 'form', portfolio_item: @portfolio_item %>
<%# render the form partial and pass in a portfolio_item which is taken from the @portfolio_item instance variable %>
<%# this file establishes header, then calls the partial, it provides the data for the portfolio item%>
